body {
    background-color: rgb(199, 241, 255);
    font-family: 'Times New Roman', Times, serif;
}

.login-screen {
    display: flexbox;
    background-color: aliceblue;
    border-radius: 5px;
    border-style: solid grey;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
    padding: 10px;
    box-shadow: 0 4px 20px rgb(184, 245, 246);
}

.login-screen .header-title {
    text-align: center;
}

.login-screen .username label {
    margin-left: 5px;
}

.login-screen .password label {
    margin-left: 5px;
}

.login-screen .username input {
    margin-left: 5px;
    width: 90%;
    height: 20px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.login-screen .password input {
    margin-left: 5px;
    width: 90%;
    height: 20px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}


.login-screen .login-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
